<mat-grid-list cols="3" class="cont">
  <mat-grid-tile *ngFor="let pel of datos" >

<mat-card class="card" >
  <mat-card-header>
    <mat-card-title >{{pel.nombre}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/cartelera.jpg" alt="{{pel.nombre}}">
  <mat-card-content>
    <p>
      {{pel.sinopsis}}
    </p>

  </mat-card-content>
  
     <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button class="button" [routerLink]="['/',pel.id]" routerLinkActive="active">Votar</a>
    <a mat-button class="button" [routerLink]="['/pelicula',pel.id]" routerLinkActive="active">Info</a>
  </mat-card-actions>
</mat-card>

  </mat-grid-tile>
</mat-grid-list>





