<mat-toolbar color="primary" class="mat-elevation-z8 ">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> AutoCine <mat-icon>local_movies</mat-icon></span>
  <div class="spacer"></div>
<button mat-button [matMenuTriggerFor]="menu">Ubicación</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Alajuela</button>
  <button mat-menu-item>San Jose</button>
  <button mat-menu-item>Heredia</button>
  <button mat-menu-item>Cartago</button>
  <button mat-menu-item>Guanacaste</button>
  <button mat-menu-item>Limon</button>
  <button mat-menu-item>Puntarenas</button>
</mat-menu>
  <a mat-button>Cartelera</a>
  <a mat-button>Productos</a>
  <a mat-raised-button color="accent">Login <mat-icon>login</mat-icon></a>

</mat-toolbar>
