<mat-toolbar color="primary" class="mat-elevation-z8 ">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button class="button" routerLink="/" routerLinkActive="active" style="text-decoration: none;">AutoCine <mat-icon>local_movies</mat-icon></a>
  <div class="spacer"></div>
<button mat-button [matMenuTriggerFor]="menu">Ubicación</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item  class="button2" >Alajuela</button>
  <button mat-menu-item class="button2" >San Jose</button>
  <button mat-menu-item class="button2" >Heredia</button>
  <button mat-menu-item class="button2" >Cartago</button>
  <button mat-menu-item class="button2" >Guanacaste</button>
  <button mat-menu-item class="button2" >Limon</button>
  <button mat-menu-item class="button2" >Puntarenas</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="mantenimiento">Mantenimientos</button>
<mat-menu #mantenimiento="matMenu">
  <button mat-menu-item class="button2"  routerLink="/producto/all" routerLinkActive="active">Admin Productos</button>
  <!-- <a mat-button class="button"    routerLink="/producto/create" routerLinkActive="active">Crear</a> -->
</mat-menu>
  <a mat-button class="button"   routerLink="/pelicula" routerLinkActive="active" >Cartelera</a>

  <a mat-button class="button"    routerLink="/producto" routerLinkActive="active">Productos</a>
  <a mat-button  class="button"  routerLink="/home/acercade" routerLinkActive="active" >Acerca de</a>
  <span class="small font-weight-light" *ngIf="currentUser?.user">{{currentUser.user.name}} </span>
  <a mat-raised-button color="accent" routerLink="/user/login" routerLinkActive="active" *ngIf="currentUser==null">Login
    <mat-icon>account_circle
    </mat-icon></a>
    <a mat-raised-button color="accent" (click)="loguout()"
      *ngIf="currentUser?.user">Logout <mat-icon>exit_to_app
      </mat-icon></a>

</mat-toolbar>
