<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile >
    <div>
      <img src="../../../assets/dog.gif" alt=""width="500">
    </div>

  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <div class="linea">
      <img src="../../../assets/cattop.gif" alt="" width="300">
    </div>
    <div class="linea">
      <h1>Auto Cine</h1>
    </div>
    <div class="linea">
      <p>Llegaron de Nuevo para recordar los viejos tiempos y disfrutar en Familia</p></div>
    <div><div class="linea"><img src="../../../assets/autoCine.jpg" alt="" width="300"></div>
    </div><div class="linea"><img src="../../../assets/petFriendly.jpg" alt="" width="300">
    </div>

<div class="linea">

</div><div class="linea">

</div>
  </mat-grid-tile>


  <mat-grid-tile>
    <img src="../../../assets/dog2.gif" alt="" width="500">
  </mat-grid-tile>
</mat-grid-list>
