<div class="inicio" >
  <div class="row">
    <div class="col-lg gifs">
      <img src="../../../assets/dog.gif" alt="" width="500px">
    </div>
    <div class="col-lg">
      <h1>Auto Cine</h1>
      <img src="../../../assets/autoCine.jpg" alt="" width="500px" id="autoCine">
      <h3>Nuestro servicio de AutoCine es el mejor en el país, contamos con grandes espacios, el mejor sistema de sonido y lo mejor de todo es que somos 100% Pet Frindly</h3>
      <img src="../../../assets/petFriendly.jpg" alt="" width="200px">
    </div>
    <div class="col-lg gifs">
      <img src="../../../assets/dog2.gif" alt="" width="500px">
    </div>
  </div>
</div>
