<div class="contenedor">
  <div class="contenido">

<mat-grid-list cols="3" >
  <mat-grid-tile [colspan]=3 [rowspan]=1>

    <mat-card class="card  mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>{{datos.nombre}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/foodCine.png" alt="">
      <mat-card-content>
        <h2>{{datos.tipo_producto.nombre}}</h2>
        <p>
          {{datos.descripcion}}
        </p>
        <mat-chip-list aria-label="Generos">
          <mat-chip color="accent" *ngFor="let g of datos.clasificacionp" selected>{{g.nombre}} </mat-chip>
        </mat-chip-list>

      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="button" [routerLink]="['/producto']" routerLinkActive="active">Regresar</a>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>

</div>
</div>
