<div class="contenido">
  <div class="contenido2">
<h1>MISIÓN</h1>

<p>Dar a nuestros invitados la mejor experiencia de entretenimiento, basada en el esfuerzo, talento y compromiso de todos,
generando valor, innovación y mucha diversión.</p>
</div>
<div class="contenido2">
<h1>VISIÓN</h1>

<p>Ser la opción de entretenimiento preferida por nuestros invitados en los países en donde operamos; reconocida por la
ubicación, diseño y confort de las instalaciones, la calidad y variedad de los productos y servicios que ofrecemos, la
continua innovación tecnológica y la satisfacción de todos nuestros invitados.</p>
</div>
</div>
